body {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.box {
  background-color: #333;
  color: rgb(255, 145, 0);
  width: 80vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  font-family: Arial, Helvetica, sans-serif;
}

.word-box {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.grey-box {
  filter: grayscale(1);
  pointer-events: none;
}

.words div {
  font-size: 25px;
  display: inline-block;
  color: rgba(239, 165, 67, 0.4);
  font-family: "Roboto Mono", monospace;
}

.cursor {
  background-color: red;
  width: 2px;
  height: 30px;
  position: absolute;
  top: 13px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.words {
  height: 135px;
  overflow: hidden;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.restart {
  background-color: rgb(26, 26, 26);
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 14px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.correct {
  color: #fff;
}

.incorrect {
  color: red;
}

.wrong {
  background-color: red;
}
